<div class="subject-list-body">
  <div class="header-subject">
    <span class="header-title">Subject List</span>
    <img src="../../assets/subject-list/ic-new-subject.svg" [style.margin-right]="'16px'">
  </div>
  <div class="subject-list">
    <span class="title-subject">Popular Uses Of The Internet</span>
    <span class="desc-subject">The Myspace page defines</span>
    <span class="time-subject">05.16PM</span>
  </div>
  <div class="subject-list">
    <span class="title-subject" [style.font-weight]="'600'">5 Reasons To Choose A No..</span>
    <div class="content-notification">
      <div class="content-sub">
        <span class="desc-subject">If you are in the market for a</span>
        <span class="time-subject">12.36PM</span>
      </div>
      <div class="notification">1</div>
    </div>
  </div>
  <div class="subject-list">
    <span class="title-subject" [style.font-weight]="'600'">Not All Blank Cassettes..</span>
    <div class="content-notification">
      <div class="content-sub">
        <span class="desc-subject">Planning to visit Las Vegas or</span>
        <span class="time-subject">03.21PM</span>
      </div>
      <div class="notification">1</div>
    </div>
  </div>
  <div class="subject-list" [style.background]="'#fd8c2e'">
    <span class="title-subject" [style.color]="'#ffffff'">Life Advice Looking Through..</span>
    <span class="desc-subject" [style.color]="'#ffffff'">Audio player software is used to</span>
    <span class="time-subject" [style.color]="'#ffffff'">06:40PM</span>
  </div>
  <div class="subject-list">
    <span class="title-subject" [style.font-weight]="'600'">Mg Shadow Computer Mon..</span>
    <div class="content-notification">
      <div class="content-sub">
        <span class="desc-subject">Ah, the technical interview</span>
        <span class="time-subject">03:20AM</span>
      </div>
      <div class="notification">1</div>
    </div>
  </div>
  <div class="subject-list">
    <span class="title-subject">Hotels How To Get Free Gifts</span>
    <span class="desc-subject">Are you considering buying a</span>
    <span class="time-subject">02:28PM</span>
  </div>
</div>