<div class="message-list-body">
  <div class="nav-bar">
    <div class="oval"></div>
    <!-- <div class="ic-message"> -->
    <img src="../../assets/message-list/ic-message.svg">
    <span class="message-text">Message</span>
    <!-- </div> -->
  </div>
  <div class="list-message">
    <div class="header-list-message">
      <span class="header-title">Inbox</span>
    </div>
    <div class="search-div">
      <div class="search-field">
        <img src="../../assets/message-list/ic-search.svg" [style.margin-left]="'10px'">
        <input type="text" placeholder="Search Proofn" />
      </div>
    </div>
    <div class="object-list-body" [style.background-color]="'#eaeaea'">
      <div class="avatar1"></div>
      <div class="text-list">
        <div class="username-time">
          <span class="username">Zac Efron</span>
          <span class="time">12.08PM</span>
        </div>
        <span class="content-text">Life Advice Looking Through..</span>
        <span class="message">Sony laptops are among the</span>
      </div>
    </div>
    <div class="object-list-body">
      <div class="avatar2"></div>
      <div class="text-list">
        <div class="username-time">
          <span class="username" [style.font-weight]="'600'">Taylor Swift</span>
          <span class="time" [style.color]="'#fd8c2e'" [style.font-weight]="'600'">01.01AM</span>
        </div>
        <div class="content-notification">
          <div class="content-sub">
            <span class="content-text">Linux Or Windows Which..</span>
            <span class="message">There are advances being..</span>
          </div>
          <div class="notification">1</div>
        </div>
      </div>
    </div>
    <div class="object-list-body">
      <div class="avatar3"></div>
      <div class="text-list">
        <div class="username-time">
          <span class="username">Chloe M</span>
          <span class="time">05.18AM</span>
        </div>
        <span class="content-text">What Is Hdcp</span>
        <span class="message">Photographs are a way of..</span>
      </div>
    </div>
    <div class="object-list-body">
      <div class="avatar4"></div>
      <div class="text-list">
        <div class="username-time">
          <span class="username" [style.font-weight]="'600'">Sehun</span>
          <span class="time" [style.color]="'#fd8c2e'" [style.font-weight]="'600'">07.32PM</span>
        </div>
        <div class="content-notification">
          <div class="content-sub">
            <span class="content-text">Choosing The Best Photo.. Printer</span>
            <span class="message">How to Surf the Web Anonymously</span>
          </div>
          <div class="notification">1</div>
        </div>

      </div>
    </div>
    <div class="object-list-body">
      <div class="avatar5"></div>
      <div class="text-list">
        <div class="username-time">
          <span class="username">Tom Cruise</span>
          <span class="time">02.46PM</span>
        </div>
        <span class="content-text">Dealing With Technical..</span>
        <span class="message">Finding the perfect learning..</span>
      </div>
    </div>
    <div class="object-list-body">
      <div class="avatar6"></div>
      <div class="text-list">
        <div class="username-time">
          <span class="username">Justin T</span>
          <span class="time">07.19PM</span>
        </div>
        <span class="content-text">5 Tips For Offshore Software..</span>
        <span class="message">Over time, even the most..</span>
      </div>
    </div>
  </div>
</div>